* {
    box-sizing: border-box;
    font-family: Arial;
}
body {
    margin: 0;
    padding: 0;
   
}

.links{
    display: flex;
    height: 180px;
    justify-content: center;
    background-color: rgb(184, 206, 156);
    padding: 5px;
}
.espec{

    background-color: rgb(184, 206, 156);
    padding: 6px;
    
}


h1{
    text-align: center;
}
.icones a, p {
    margin-left: 6px;
    font-size: 18px;
}

.maps{
    margin-top: 1px;
}
.mapas{
display: flex;
height: 500px;
justify-content: center;
background-color: rgb(184, 206, 156);

}
.fisio_neuro{
    display: grid;
    grid-template-columns: 370px 280px 370px 280px;
    column-gap: 20px;
    row-gap: 30px;
    margin-left: 90px;
    margin-top: 50px;
    max-width: 1360px;
    
}
.espec{
    background-color: #78ac64;
}
.item1{

    background-color: #4e803b;
    border-radius: 10px;
    padding-right: 0px;
    padding-top: 30px;
    color: rgb(22, 21, 21);
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    margin-top: 20px;
}

.item2{
    background-color: rgb(211, 229, 188);
    box-shadow: rgb(243 243 245) 2px 2px 8px;
    border-radius: 10px;
    padding-right: 0px;
    font-size: 22px;
    text-align: center;
    margin-top: 20px;
}
.item1 img{
    border: 1px solid #4e803b;
    margin-top: 10px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
   
}
.item2 h4{
    text-align: justify;
    margin-right: 18px;
    margin-top: 50px;
    margin-left: 10px;
    font-size: 16px;
    color: rgb(88, 80, 68);
    font-family: 'Times New Roman', Times, serif
       
}
h4{
    margin-left: 2px;
    text-align: justify;
}
.item3 img{
    width: 250px;
}
.horario, .profissionais {
    background-color: rgb(184, 206, 156);
    margin-top: 6px;
}
.horario h2, h4{
    margin-top: 8px;
    text-align: center;
}
.dias h4{
    color: rgb(10, 68, 24);
    padding-top: 0px;

}
.dias{
    padding: 20px;
  
}
.horario h2{
    margin-bottom: 0%;
}
.profissional h1{
    background-color: #4e803b;
    
}
.contato, .profissional{
    background-color: #4e803b;
    color: white;
    height: 72px;
    align-items: center;
    padding: 1px;
   
}
.profissionais h2{
    margin-top: 2px;
    text-align: center;
    padding-top: 40px;

}
.profissionais h4{
    margin-top: 0px;
}
.profissionais{
    height: 585px;
   
}

