


.contato{
    display: block;
    background-color: #aec7ae;
    padding: 5px;
}
.titulo_contato{
    margin-left: 400px;
    color: #000000;
    font-size: 30px;
    font-weight: bold;
}
.title_bar{
    margin-left: 400px;
    width: 50px;
    height: 3px;
    background-color: rgb(100, 143, 92);
    border-radius: 5px;;
    margin-top: 10px;
}
section .espec{
    
    background-color: rgb(184, 206, 156);
    padding: 6px;
    
}
.widget_title_text {
    color: #000000;
    font-size: 30px;
    font-weight: bold;
}

h1{
    text-align: center;
}

.icones p {
    
    margin-top: 25px;
    margin-left: 6px;
    font-size: 18px;
}
.icones {
    justify-content: center;
    display: flex;
    background-color: #aec7ae
}
.icones img{
    margin-right: 10px;
}

.maps{
    margin-top: 5px;
}
.mapas{
display: flex;
height: 500px;
justify-content: center;
background-color: #aec7ae;

}
.fisio_neuro{
    display: grid;
    grid-template-columns: 370px 280px 370px 280px;
    column-gap: 20px;
    row-gap: 30px;
    margin-left: 90px;
    margin-top: 50px;
    max-width: 1200px;
    
}
.espec{
    max-width: 1300px;
    background-color: #78ac64;
}
.item1{

    background-color: #4e803b;
    border-radius: 10px;
    padding-right: 0px;
    padding-top: 30px;
    color: rgb(22, 21, 21);
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    margin-top: 20px;
}

.item2{
    background-color: rgb(211, 229, 188);
    box-shadow: rgb(243 243 245) 2px 2px 8px;
    border-radius: 10px;
    padding-right: 0px;
    font-size: 22px;
    text-align: center;
    margin-top: 20px;
}
.item1 img{
    border: 1px solid #4e803b;
    margin-top: 10px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
   
}
.item2 h4{
    text-align: justify;
    margin-right: 18px;
    margin-top: 50px;
    margin-left: 10px;
    font-size: 16px;
    color: rgb(88, 80, 68);
    font-family: 'Times New Roman', Times, serif
       
}
article .news_thumbnail img{
    width: 95%;
    height: 250px;
    border-radius: 6px;
    margin-right: 10px;
}
h4{
    margin-left: 2px;
    text-align: justify;
}
.item3 img{
    width: 250px;
}
.horario, .profissionais {
    background-color: rgb(184, 206, 156);
    margin-top: 6px;
}
.horario h2, h4{
    margin-top: 8px;
    text-align: center;
}
.dias h4{
    color: rgb(10, 68, 24);
    padding-top: 0px;

}
.dias{
    padding: 20px;
  
}
.horario h2{
    margin-bottom: 0%;
}

#geral2 {
    height: 662px;
    display: flex;
    justify-content: center;
    background-color: #aec7ae;
    
    
}

.funcao{
    
    text-align: center;
    font-size: 30px;
    color: rgb(56, 56, 4);
}
.name{
    margin-top: 30px;
    padding-right: 20px;
    text-align: center;
    font-size: 25px;
    color: rgb(56, 56, 4);
}
.name2{
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    color: rgb(56, 56, 4);
}
h6{
    padding-right: 40px;
    font-size: 12px;
    text-align: justify;
}
.news_thumbnail img{
    box-shadow: rgb(243 243 245) 2px 3px 8px;
}
