* {
    box-sizing: border-box;
    font-family: Arial;
}
body {
    margin: 0;
    padding: 0;
   
}

.contato, .profissionais{
    background-color: #4e803b;
    color: white;
    height: 72px;
    align-items: center;
    padding: 1px;
   
}

.links{
    display: flex;
    height: 180px;
    justify-content: center;
    background-color: rgb(184, 206, 156);
    padding: 5px;
}
.espec{

    background-color: rgb(184, 206, 156);
    padding: 6px;
    
}


h1{
    text-align: center;
}
.icones a, p {
    margin-left: 6px;
    font-size: 18px;
}

.maps{
    margin-top: 1px;
}
.mapas{
display: flex;
height: 500px;
justify-content: center;
background-color: rgb(184, 206, 156);

}
.fisio_neuro{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-gap: 10px;
    margin-left: 40px;
    margin-top: 5px;
    
}
.item1{
    background-color: rgb(128, 177, 134); 
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-size: 20px;
}
.item1 img{
    align-items: center;
    margin-top: 8px;
    margin-left: 18px;
    width: 250px;
   
}
.item2 h4{
    font-size: 14px;
    margin-right: 12px;
}
h4{
    margin-left: 2px;
    text-align: justify;
}
.item3 img{
    width: 250px;
}
